# Django project
*.pyc
__pycache__/
myvenv/
db.sqlite3
*.sqlite3
*.pyo
*.pyc
*.pyd
*.swp
*.bak
*.tmp
*.log
*.vscode/
.vscode/
.virt

# Development
*.env

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependency directories
venv/
.virt/
env/
env.bak/
env_backup/
venv.bak/
venv_backup/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.egg-info/

# Testing
htmlcov/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
.tox/
.pytest_cache/

# Translations
*.mo
*.pot

# Django Debug Toolbar
*.prof